@import "variables";

/*======================= Media Breakpoints ======================= */

// Changes to tablet format >=768px
@mixin tablet{
    @media (min-width:768px){
        @content;
    }
}

// Changes to desktop format >=1440px
@mixin desktop{
    @media (min-width:1440px){
        @content;
    }
}

// Make the hero image responsive vertically
@mixin responsive-hero{
    height:23vh;

    // Change hero height ratio to increase as device size increases
    @include tablet{
        height:40vh;        
    }

    @include desktop{
        height:74vh;        
    }
}

@mixin space-grid($image-width, $image-padding){
    width:$image-width;
    margin-bottom:$image-padding;
}