/*======================= Color Palette ======================= */

// Global Fonts
$global-text:#323232;
$global-contrast:#FFFFFF;
$text-label: #AFAFAF;
$text-field: #E1E1E1;
$nav-inactive:#AFAFAF;
$nav-active:#FFFFFF;

// Background Fill colors
$text-field-background: #FAFAFA;
$nav-fill:#323232;
$footer-fill:#323232;
$hero-filter:#323232;
$gallery-fill: #FAFAFA;
$link-hover-fill:#AFAFAF;

/*======================= Margins and Padding ======================= */

// The outside padding used for alignment for all elements 

// Corresponds to 16px @ 320px screen width
$mobile-padding:5%;

// Corresponds to 24px @ 768px screen width
$tablet-padding:3%;

// Corresponds to 180px @ 1440px screen width
$desk-padding:12.5%;

// Gallery Grid Spacing
$mobile-grid-spacing: 5%;
$tablet-grid-spacing: 3.3%;
$desktop-grid-spacing: 2.26%;

// Title Spacing
$mobile-section-top:32px;
$mobile-section-bottom:24px;

$tablet-section-top: 40px;
$tablet-section-bottom: 32px;

$desktop-section-top: 40px;
$desktop-section-bottom: 40px;

$story-column-spacing: 47%;