/* Color Palette */

// Global Fonts
$global-text:#323232;
$text-label: #AFAFAF;
$text-field: #E1E1E1;
$text-hover: #0065AD;

// Background Fill colors
$text-field-background: #FAFAFA;
$nav-fill:#323232;
$footer-fill:#323232;
$hero-filter:#323232;

/* Margins and Padding */

// The outside padding used for alignment for all elements 
$mobile-padding:5%;
$tablet-padding:3%