/*Import any global default styles including partials containing typography, variables, and mixins*/
/*======================= Global Default Styling ======================= */
/*======================= Define Global Fonts ======================= */
/**** Default Fonts ****/
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Demi.otf");
  font-weight: 700;
  font-style: normal;
}

/**** Alternative Fonts ****/
/*======================= Color Palette ======================= */
/*======================= Margins and Padding ======================= */
/*======================= Media Breakpoints ======================= */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
  font-weight: 400;
  color: #323232;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

/*Default font formats for breakpoints.  HTML font size is 16px*/
h1, .title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  h1, .title {
    font-size: 2.25rem;
    line-height: 2.75;
  }
}

h2 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

h4, p, .list {
  font-weight: 400;
  font-size: 0.81rem;
  line-height: 1.125rem;
}

@media (min-width: 768px) {
  h4, p, .list {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h5 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.hero__title, .bio, .gallery, .footer, .header__logo-link {
  padding: 0 5%;
}

@media (min-width: 768px) {
  .hero__title, .bio, .gallery, .footer, .header__logo-link {
    padding: 0 3%;
  }
}

@media (min-width: 1440px) {
  .hero__title, .bio, .gallery, .footer, .header__logo-link {
    padding: 0 12.5%;
  }
}

/*======================= Color Palette ======================= */
/*======================= Margins and Padding ======================= */
/*======================= Global Header and Navigation Bar ======================= */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #323232;
  color: #FFFFFF;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16px;
  width: 100%;
  height: 80px;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo-link {
  padding-right: 0;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__nav-item {
  width: 50%;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .header__nav-item {
    margin-left: 50px;
    padding: 24px 0 17px 0;
    width: 80px;
  }
}

@media (min-width: 1440px) {
  .header__nav-item {
    margin-left: 56px;
  }
}

.header__nav-item--active {
  font-weight: bold;
  border-bottom: 3px solid #FFFFFF;
}

@media (min-width: 768px) {
  .header__nav-item--active {
    border-bottom: 7px solid #FFFFFF;
  }
}

.header__nav-link {
  color: #AFAFAF;
}

.header__nav-link--active {
  color: #FFFFFF;
}

.header__nav-link:hover {
  font-style: italic;
  color: #FFFFFF;
}

/*======================= Color Palette ======================= */
/*======================= Margins and Padding ======================= */
/*======================= Global Footer ======================= */
.footer {
  background-color: #323232;
  color: #FFFFFF;
}

.footer__top {
  padding-top: 24px;
}

@media (min-width: 768px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 16px;
  }
}

@media (min-width: 768px) {
  .footer__top--left {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .footer__top-title {
    padding-right: 40px;
  }
}

.footer__top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 0;
}

.footer__top-social-icon {
  padding-right: 30px;
}

@media (min-width: 1440px) {
  .footer__top-social {
    padding-right: 32px;
  }
}

.footer__top-logo {
  display: none;
}

@media (min-width: 768px) {
  .footer__top-logo {
    display: block;
  }
}

@media (min-width: 1440px) {
  .footer__top-logo {
    height: 24px;
    width: 150px;
  }
}

@media (min-width: 768px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .footer__contact {
    padding-right: 3%;
    padding-right: 24px;
    width: 220px;
  }
}

.footer__contact-name {
  font-weight: 700;
  padding-bottom: 20px;
}

@media (min-width: 1440px) {
  .footer__contact-name {
    padding-bottom: 24px;
  }
}

.footer__contact-details {
  padding-bottom: 20px;
}

@media (min-width: 1440px) {
  .footer__contact-details {
    padding-bottom: 24px;
  }
}

.footer__contact-email {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .footer__contact-email {
    padding-bottom: 30px;
  }
}

@media (min-width: 1440px) {
  .footer__contact-email {
    padding-bottom: 40px;
  }
}

.footer__copyright {
  font-weight: 400;
  padding-bottom: 40px;
  width: 204px;
}

@media (min-width: 768px) {
  .footer__copyright {
    width: 100%;
  }
}

/*======================= Hero Section ======================= */
.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../assets/images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  Z-index: 0;
  height: 23vh;
}

@media (min-width: 768px) {
  .hero {
    height: 40vh;
  }
}

@media (min-width: 1440px) {
  .hero {
    height: 74vh;
  }
}

.hero__title {
  width: 240px;
  color: #FFFFFF;
  z-index: 2;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 68px;
    width: 560px;
  }
}

.hero__image--filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}

/*======================= Bio Section ======================= */
.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bio__title {
  padding-top: 32px;
}

@media (min-width: 1440px) {
  .bio__title {
    padding-top: 48px;
  }
}

@media (min-width: 1440px) {
  .bio__content {
    padding: 0 8.5%;
  }
}

.bio__image {
  margin: 24px 0;
  min-width: 100%;
  max-width: 100%;
}

@media (min-width: 1440px) {
  .bio__image {
    margin: 48px auto;
  }
}

.bio__slogan {
  padding-bottom: 24px;
}

@media (min-width: 1440px) {
  .bio__slogan {
    padding-bottom: 40px;
  }
}

.bio__signature {
  padding-bottom: 40px;
}

@media (min-width: 1440px) {
  .bio__signature {
    padding-bottom: 56px;
  }
}

.bio__name {
  padding-bottom: 24px;
}

@media (min-width: 1440px) {
  .bio__name {
    padding-bottom: 32px;
  }
}

.bio__story {
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .bio__story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: space-between;
            flex-direction: space-between;
    padding-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .bio__story {
    padding-bottom: 48px;
  }
}

.bio__story-text--left {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .bio__story-text--left {
    padding-bottom: 0;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .bio__story-text--right {
    padding-left: 20px;
  }
}

/*======================= Photo Gallery Section ======================= */
.gallery {
  background-color: #FAFAFA;
  padding-bottom: 16px;
}

.gallery__title {
  padding: 32px 0 24px 0;
}

@media (min-width: 768px) {
  .gallery__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.gallery__img {
  width: 100%;
  margin-bottom: 16px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.gallery__img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media (min-width: 768px) {
  .gallery__img {
    width: 31%;
    margin-bottom: 24px;
  }
}

@media (min-width: 1440px) {
  .gallery__img {
    width: 31.9%;
  }
}
/*# sourceMappingURL=main.css.map */