/* Define the global font family */
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/Linotype - AvenirNextLTPro-Demi.otf");
  font-weight: 700;
  font-style: normal;
}

/* Color Palette */
/* Margins and Padding */
/*Media BreakPoints*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
  font-weight: 400;
  color: #323232;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*Default font formats for mobile*/
h1, .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: 768px) {
  h1, .title {
    font-size: 36px;
    line-height: 44px;
  }
}

h2, .subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 768px) {
  h2, .subtitle {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

h4, p, .list {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@media (min-width: 768px) {
  h4, p, .list {
    font-size: 14px;
    line-height: 22px;
  }
}

h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

/*Media BreakPoints*/
/* Color Palette */
/* Margins and Padding */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #323232;
  color: white;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16px;
  width: 100%;
  height: 80px;
}

@media (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .header__logo {
    margin-left: 3%;
  }
}

@media (min-width: 1440px) {
  .header__logo {
    margin-left: 12.5%;
  }
}

.header__logo-link {
  font-weight: 400;
  color: white;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__nav-item {
  width: 50%;
  padding-bottom: 5px;
}

.header__nav-item--active {
  font-weight: bold;
  border-bottom: 3px solid white;
}

@media (min-width: 768px) {
  .header__nav-item--active {
    border-bottom: 7px solid white;
  }
}

@media (min-width: 768px) {
  .header__nav-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 50px;
    padding: 24px 0 17px 0;
  }
}

@media (min-width: 1440px) {
  .header__nav-item {
    margin-left: 56px;
    padding: 24px 0 17px 0;
    width: 80px;
  }
}

.header__nav-link {
  color: white;
}

.hero {
  position: relative;
  background-image: url("../assets/images/hero-background.jpg");
  background-size: cover;
  color: white;
  height: 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  Z-index: 0;
}

@media (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .hero {
    height: 670px;
  }
}

.hero__title {
  width: 240px;
  padding-left: 5%;
  z-index: 2;
}

@media (min-width: 768px) {
  .hero__title {
    padding-left: 3%;
    font-size: 60px;
    line-height: 68px;
    width: 560px;
  }
}

@media (min-width: 1440px) {
  .hero__title {
    padding-left: 12.5%;
    width: 40%;
  }
}

.hero__image--filter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #323232;
  opacity: 0.5;
  z-index: 1;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 5%;
}

@media (min-width: 768px) {
  .bio {
    padding: 0 3%;
  }
}

@media (min-width: 1440px) {
  .bio {
    padding: 0 12.5%;
  }
}

.bio__title {
  padding-top: 32px;
}

.bio__image {
  margin: 24px 0;
  min-width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .bio__image {
    max-width: 47%;
  }
}

.bio__slogan {
  padding-bottom: 32px;
}

.bio__signature {
  padding-bottom: 40px;
}

.bio__name {
  padding-bottom: 24px;
}

.bio__story-text--left {
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .bio__story-text--left {
    padding-right: 1.7%;
  }
}

.bio__story-text--right {
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .bio__story-text--right {
    padding-left: 1.7%;
  }
}

@media (min-width: 768px) {
  .bio__story {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5%;
}

@media (min-width: 768px) {
  .gallery {
    padding: 0 3%;
  }
}

@media (min-width: 1440px) {
  .gallery {
    padding: 0 12.5%;
  }
}

.gallery__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 24px;
  padding-top: 32px;
}

@media (min-width: 768px) {
  .gallery__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.gallery__img {
  width: 100%;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .gallery__img {
    width: 31%;
    height: 28%;
    margin-bottom: 24px;
  }
}

.footer {
  background-color: #323232;
  color: white;
  padding-left: 5%;
}

@media (min-width: 768px) {
  .footer {
    padding: 0 3%;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 0 12.5%;
  }
}

.footer__top {
  padding-top: 40px;
}

@media (min-width: 768px) {
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .footer__top--left {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .footer__top-title {
    padding-right: 40px;
  }
}

.footer__top-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 0;
}

.footer__top-social-icon {
  padding-right: 30px;
}

.footer__top-logo {
  display: none;
  font-weight: 400;
}

@media (min-width: 768px) {
  .footer__top-logo {
    display: block;
  }
}

@media (min-width: 768px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .footer__contact {
    padding-right: 3%;
  }
}

.footer__contact-name {
  font-weight: 700;
  padding-bottom: 20px;
}

.footer__contact-details {
  padding-bottom: 20px;
}

.footer__contact-email {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .footer__contact-email {
    padding-bottom: 30px;
  }
}

.footer__copyright {
  font-weight: 400;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .footer__copyright--left {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=main.css.map */