/*Import any global default styles including partials containing typography, variables, and mixins*/
@import "defaults";

// Import the global header and navigation bar styling
@import "nav-bar";

// Import the global footer styling
@import "footer";


/*======================= Hero Section ======================= */

.hero{
    // Change to relative positioning to allow for placement of image filter
    position:relative;
    
    // Used to center the hero title
    display:flex;
    align-items:center;

    // Add a background image that centered on and covers the entire section
    background-image: url("../assets/images/hero-background.jpg");
    background-size:cover;
    background-position:center;

    //Push the hero section to the bottom of the stack
    Z-index:0;
    
    // Make the height of the hero image responsive
    height:23vh;

    // Change hero height ratio to increase as device size increases
    @include tablet{
        height:40vh;        
    }

    @include desktop{
        height:74vh;        
    }

    &__title{
        width: 240px;
        color:$global-contrast;
        //Place the title on top of the image and its filter
        z-index:2;

        // Set explicit font styling that only applies to the titles for devices >= tablet
        @include tablet{
            font-size:3.75rem;
            line-height:68px;

            // Apply an absolute measurement to maintain a two line format across devices
            width: 560px;
        }
    }

    // Apply a semi-transparent filter to the image to make the title more prominent
    &__image--filter{
        position:absolute;
        height:100%;
        width:100%;
        background-color:$hero-filter;
        opacity:0.5;
        //Put the filter in the middle of the stack
        z-index:1;
    }
}


/*======================= Bio Section ======================= */

.bio{
    // Align the bio containers in a column and push them to the left
    display:flex;
    flex-direction:column;
    align-items:flex-start;

    &__title{
        padding-top:32px;
        
        @include desktop{
            padding-top: 48px;
        }
    }

    &__content{
        // Add increased padding to the content section for desktop screens
        @include desktop{
            padding:0 8.5%;
        }
    }
    &__image{
        margin:24px 0;
        // Size to the full width of the content container
        min-width:100%;
        max-width:100%;
        
        // Assign absolute vertical margins set in style guide and automatic left and right margins to center in the content container for desktops
        @include desktop{
            margin:48px auto;
        }
    }

    //Assign all the absolute vertical spacings for all the device sizes
    &__slogan{
        padding-bottom:24px;

        @include desktop{
            padding-bottom:40px;
        }

    }

    &__signature{
        padding-bottom:40px;

        @include desktop{
            padding-bottom:56px;
        }

    }

    &__name{
        padding-bottom:24px;
        @include desktop{
            padding-bottom:32px;
        }
    }

    &__story{
        
        padding-bottom: 32px;
        
        // Split the story section into two columns for devices >=tablet size
        @include tablet{
            display:flex;
            flex-direction:space-between;
            padding-bottom:40px;
        }
        
        @include desktop{
            padding-bottom:48px;
        }
        
        
        &-text{
             &--left{
                // Apply padding to bottom of first paragraph on mobile to separate the two parts of the story vertically
                padding-bottom: 24px;
                @include tablet{
                    // Remove the padding from the bottom of the first paragraph for devices >=tablet size
                    padding-bottom:0;
                    // Split the padding between the two paragraphs evenly and make it an absolute value to retain spacing
                    padding-right:20px;
                }
            }
            &--right{
                @include tablet{
                    padding-left:20px;
                }
            }
        }
    }
}

/*======================= Photo Gallery Section ======================= */

.gallery{
    background-color: $gallery-fill;

    // Added 40px of vertical separation between the gallery and the footer by adding gallery padding to 24px of image margins
    padding-bottom:16px;

    &__title{
        padding:32px 0 24px 0;
        
        @include desktop{
            padding:48px 0 64px 0;
        }
    }


    &__images{
        // Change to a 3 x 3 grid layout of the photos for devices >=tablet size
        @include tablet{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-between;
        }
    }

    // Adjust the image widths and margins to maintain aspect ratios and attractive spacing across all devices
    &__img{
        width:100%;
        margin-bottom:16px;

        @include tablet{
            width:31%;
            margin-bottom:24px;
        }
        @include desktop{
            width:31.9%;
        }
    }
}

