@import "defaults";
@import "mixins";
@import "variables";

.header{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background-color:$nav-fill;
    color:white;
    text-align:center;
    box-sizing:border-box;
    padding-top:16px;
    width:100%;
    height:80px;

    @include tablet{
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
    }

    &__logo-link{
            font-weight:400;
            color:white;

            @include tablet{
                margin-left:$tablet-padding;
            }
    
            @include desktop{
                margin-left:$desk-padding;
            }
    }

    &__nav{
        &-list{
            display:flex;
            justify-content:space-around;
        }
        &-item{
            width:50%;
            padding-bottom:5px;
            
            &--active{
                font-weight:bold;
                border-bottom:3px solid white;

                @include tablet{
                    border-bottom:7px solid white;
                }

            }

            @include tablet{
                box-sizing:border-box;
                margin-left:50px;
                padding:24px 0 17px 0;
            }
            @include desktop{
                margin-left:56px;
                padding:24px 0 17px 0;
                width:80px;
            }
        }
        &-link{
            color:white;
        }
    }
}

.hero{
    position:relative;
    background-image: url("../assets/images/hero-background.jpg");
    background-size:cover;
    background-position:center;
    color:white;
    height:23vh;
    display:flex;
    align-items:center;
    Z-index:0;

    @include tablet{
        height:40vh;        
    }

    @include desktop{
        height:74vh;        
    }

    &__title{
        width: 240px;
        padding-left:$mobile-padding;
        z-index:2;

        @include tablet{
            padding-left:$tablet-padding;
            font-size:3.75rem;
            line-height:68px;
            width: 560px;
        }
        @include desktop{
            padding-left:$desk-padding;
            width:40%;
        }
    }

    &__image--filter{
        position:absolute;
        height:100%;
        width:100%;
        background-color:$hero-filter;
        opacity:0.5;
        z-index:1;
    }
}

.bio{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:0 $mobile-padding;

    @include tablet{
        padding:0 $tablet-padding;
    }
    @include desktop{
        padding:0 $desk-padding;
    }

    &__title{
        padding-top:32px;
        
        @include desktop{
            padding-top: 48px;
        }
    }

    &__content{
        @include desktop{
            padding:0 8.5%;
        }
    }
    &__image{
        margin:24px 0;
        min-width:100%;
        max-width:100%;
        height:auto;
        
        @include desktop{
            margin:48px auto;
        }
    }
    &__slogan{
        padding-bottom:32px;

        @include desktop{
            padding-bottom:40px;
        }

    }
    &__signature{
        padding-bottom:40px;

        @include desktop{
            padding-bottom:56px;
        }

    }
    &__name{
        padding-bottom:24px;
        @include desktop{
            padding-bottom:32px;
        }
    }
    &__story{

        &-text{
             &--left{
                padding-bottom: 24px;
                @include tablet{
                    padding-right:1.7%;
                    
                }
            }
            
            &--right{
                @include tablet{
                    padding-left:1.7%;
                }
            }
        }
        @include tablet{
            display:flex;
            padding-bottom:40px;
        }
        @include desktop{
            padding-bottom:48px;
        }
    }
}

.gallery{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:0 $mobile-padding;

    @include tablet{
        padding:0 $tablet-padding;
    }
    @include desktop{
        padding:0 $desk-padding;
    }

    &__title{
        align-self:flex-start;
        padding-bottom:24px;
        padding-top:32px;
    }

    &__images{
        @include tablet{
            display:flex;
            flex-wrap:wrap;
            justify-content:space-between;
        }
    }

    &__img{
        width:100%;
        margin-bottom:16px;
        
        @include tablet{
            width:31%;
            height:28%; 
            margin-bottom:24px;
        }
    }
}

.footer{
    background-color:$footer-fill;
    color: white;
    padding-left:$mobile-padding;

    @include tablet{
        padding:0 $tablet-padding;
        
    }
    @include desktop{
        padding:0 $desk-padding;;
    }

    &__top{
        padding-top:40px;

        @include tablet{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding-bottom:40px;
        }

        @include desktop{
            padding: 48px 0 56px 0;
        }

        &--left{
            @include tablet{
                width:60%;
                display:flex;
                align-items:center;
            }
        }

        &-title{
            @include tablet{
               padding-right:40px;
            } 
 
        }
        &-social{
            display:flex;
            justify-content:flex-start;
            padding:20px 0;

            &-icon{
                padding-right:30px;
            }
            @include desktop{
                padding-right:32px;
            }
        }

        &-logo{
            display:none;
            font-weight:400;
            @include tablet{
                display:block;
            }

            @include desktop{
                height:24px;
                width:150px;
            }
        }
    }

    &__contacts{
        
        @include tablet{
            display:flex;
        }
    }

    &__contact{
        @include tablet{
            padding-right:$tablet-padding;
            width:32%;
        }
        &-name{
             font-weight:700;
             padding-bottom:20px;
             
            @include desktop{
                padding-bottom:24px;
            }

         }
         &-details{
             padding-bottom:20px;
            
             @include desktop{
                padding-bottom:24px;
            }
         }
         &-email{
             padding-bottom:20px;
             
             @include tablet{
                padding-bottom:30px;
            }
            @include desktop{
                padding-bottom:40px;
            }
         }
    }

    &__copyright{
        font-weight:400;
        padding-bottom:40px;
        
        @include tablet{
            display:flex;
        }
        &--left{
            @include tablet{
                margin-right:5px;
            }
        }
    }

}