//Import any global default styles including partials containing typography, variables, and mixins*/
@import "./partials/defaults";

// Import the global variables
@import "./partials/variables";

// Import mixins
@import "./partials/mixins";

// Import the global header and navigation bar styling
@import "./partials/nav-bar";

// Import the global footer styling
@import "./partials/footer";

@import "./partials/hero";


.hero{
    @include add-background($shows-hero-image);
    @include responsive-hero($mobile-shows-ratio,$tablet-shows-ratio,$desktop-shows-ratio);

    &__content{
        // padding-top:6vw;
        @include tablet{
            // padding-top:0vw
        }
        &-title{
            @include heroTitle(288px,2.3rem,3rem,48px,48px);
            @include tablet{
                font-size: 3.2rem;
                line-height:4rem;
                width:500px;
            }
            @include desktop{
                font-size: 3.14rem;
                width:570px;
            }
        }  
        &-bottom{
            @include desktop{
                display:flex;
                align-items:flex-end;
            }
        }

        &-subtitle{
            color:$global-contrast;
        }

        &-song{
            border-radius:50px;
            width:288px;
            height:11vh;
            @include tablet{
                height:12vh;
                width:433px;
            }
            @include desktop{
                padding-left:64px;
                padding-bottom:4rem;
                width:50%;
                height:146px;
            }
        }
    }   
}

.shows{
    margin-bottom:40px;
   
    @include desktop{
        display:flex;
        justify-content:space-between;
        padding-top:48px;
    }

    &__label:first-child{
        @include tablet{
            margin-right:16%;
        }
    }
    &__labels-tablet{
        display:none;        
        
        @include tablet{
            display:flex;
            justify-content:space-between;
            width:75%;
        }
        
        &:first-child{
            @include tablet{
                margin-right:100px;
            }
        }
    }
    &__title{
        padding-bottom:40px;
        
        @include desktop{
           padding-top:0;
        }
    }

    &__list{
        margin-bottom:24px;
        @include desktop{
            width:75%;
        }
    }
}    

.show{
    border-bottom:1px solid $divider;
    margin-bottom:16px;
    // Put the show details in a row for devices >=tablet size
    @include tablet{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    &__details{
        @include tablet{
            width:75%;
            display:flex;
            align-items:baseline;
        }
    }

    &__label--mobile{
        @extend .shows__label;

        // Remove the individual labels for devices >=tablet size
        @include tablet{
            display:none;
        }
    }

    &__date{
        @extend .show__li;
        font-weight:600;
        padding-bottom:24px;
        margin-right:16%;
    }
    &__venue{
        @extend .show__li;
        padding-bottom:24px;
    }

    &__location{
        @extend .show__li;
    }
    &__cta{
        @include input-button(288px);
        margin-top:32px;
        @include tablet{
            margin-top:0;
            margin-bottom:16px;
            width:160px;
            align-self:flex-end;
        }
        &:hover{
            background-color:black;
        }
    }
}
