// Import variables for mixin use
@import "variables";

// Import global mixins
@import "mixins";

// Make the hero image responsive vertically
@mixin responsive-hero($mobile-ratio, $tablet-ratio, $desktop-ratio){
    height:$mobile-ratio;

    // Change hero height ratio to increase as device size increases
    @include tablet{
        height:$tablet-ratio;        
    }

    @include desktop{
        height:$desktop-ratio;        
    }
}

@mixin hero-background($hero-url){
    background-image: url($hero-url);
    background-size:cover;
    background-position:center;
}

.hero{
    // Change to relative positioning to allow for placement of image filter
    position:relative;
            
    // Used to center the hero title vertically
    display:flex;
    flex-direction:column;
    
    // Apply a semi-transparent filter to the image to make the title more prominent
    &::before{
        content:'';
        position:absolute;
        height:100%;
        width:100%;
        background-color:$hero-filter;
        opacity:0.5;
    }

    &__content{
        z-index:2;
    }
}

@mixin heroTitle ($title-width, $title-mobile-size, $title-line-height, $padding-bottom, $padding-top){
    .hero__content-title{
        font-size:$title-mobile-size;
        line-height:$title-line-height;
        width: $title-width;
        color:$global-contrast;
        margin-bottom:$padding-bottom;
        margin-top:$padding-top;
        //Place the title on top of the image and its filter

        // Set explicit font styling that only applies to the titles for devices >= tablet
        @include tablet{
            font-size:3.75rem;
            line-height:68px;

            // Apply an absolute measurement to maintain a two line format across devices
            width: 560px;
        }
   }
}